*.class

# Package Files #
*.war
*.ear

# Don’t commit the following directories
.idea/
.gradle/
build/

# Or the files
*.iml
*.swp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
