<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Logstash Logback appender with Encoder -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:4560</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <springProfile name="default">
        <logger name="org.paradise" level="DEBUG">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>

    <!-- Elastic search, Logstash, Kibana logging aggregation, index and search -->
    <springProfile name="elk">
        <logger name="org.paradise" level="DEBUG">
            <appender-ref ref="logstash" />
        </logger>
        <logger name="org.apache.camel" level="INFO">
            <appender-ref ref="logstash" />
        </logger>
        <logger name="out" level="DEBUG">
            <appender-ref ref="logstash" />
        </logger>
    </springProfile>
</configuration>