<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="org.paradise" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <springProfile name="default">
        <logger name="org.paradise" level="DEBUG" />
    </springProfile>
</configuration>